{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Posterlocaties" %}{% endblock title %}
{% block custom_css_js %}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var map;
function initialize() {
	var mapOptions = {
		center: {lat: 50.8735, lng: 4.6857},
		zoom: 14,
	};
	map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
	var infoWindow = new google.maps.InfoWindow({});
	{% for poster in posters %}
	var marker{{forloop.counter}} = new google.maps.Marker({
		position: {lat: {{poster.latitude|stringformat:"f"}}, lng: {{poster.longitude|stringformat:"f"}}},
		map: map,
		title: '{{poster.location_name}}',
	});
	var content{{forloop.counter}} = ""+
		"<strong>{{poster.location_name}}</strong><br>"+
		{% if poster.count > 1 %}"({{poster.count}} posters)<br>"+{% endif %}
		"{{poster.authors_as_string}}<br>"+
		{% if poster.hanging_date %}"{{poster.hanging_date|date:'D d M'}}<br>"+{% endif %}
		/*{% if poster.attachment_type %}"{{poster.attachment_type}}<br>"+{% endif %}*/
		{% if poster.remarks %}"<em>\"{{poster.remarks}}\"</em><br>"+{% endif %}
		"";
	google.maps.event.addListener(marker{{forloop.counter}}, 'click', function() {
		infoWindow.setContent(content{{forloop.counter}});
		infoWindow.open(map, marker{{forloop.counter}});
	});
	{% endfor %}
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
#map-canvas {
	height: 400px;
	height: 60vh;
	width: 100%;
}
h1 {
	margin: 0 0 20px 0;
	float: left;
}
@media (min-width: 345px) {
	a.btn {
		float: right;
	}
	h1 {
		margin: 0;
	}
}
.center {
	max-width: 600px;
	margin: 30px auto;
	padding: 0 15px;
	overflow: hidden; /* 'Clearfix bug' fix*/
}
</style>
{% endblock custom_css_js %}
{% block content %}

<div class="center">
	<h1>{% trans "Posterlocaties" %}</h1>
	<a href="{% url 'space_ticketing:add_poster' %}" class="btn btn-success" role="button">{% trans "Voeg poster toe" %}</a>
</div>
<div id="map-canvas"></div>
<div class="center">
<table class="table table-hover">
	<tr>
		<th></th>
		<th></th>
		<th>{% trans "# Locaties" %}</th>
		<th>{% trans "# Posters" %}</th>
		<th title="50 x #locaties + 10 x #posters">{% trans "Score" %}</th>
	</tr>
{% for leader in leaders %}
	<tr>
		<td><strong># {{leader.rank}}</strong></td>
		<td>{{leader.leader}}</td>
		<td>{{leader.num_locations}}</td>
		<td>{{leader.num_posters}}</td>
		<td><strong>{{leader.score}}</strong></td>
	</tr>
{% endfor %}
</table>
</div>

{% endblock content %}