{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Lenteconcerten Arenbergorkest" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'ticketing/style.css' %}">
<link rel="stylesheet" href="{% static 'ticketing/style-landscape-tablet-and-larger.css' %}" media="(min-width: 992px)">
{% endblock custom_css_js %}
{% block content %}
<div id="header">
	<div class="container">
		<h2 id="title-arenbergorkest" class="caps">{% trans "Arenbergorkest" %}</h2>
		<h2 id="title-conductor" class="caps">{% trans "olv Roel Willems" %}</h2>
		<h1 id="title-space" class="caps">{% trans "Lenteconcerten" %}</h1>
	</div>
</div>	
<div class="container">
	<form>
		<h1>{% trans "Bedankt!" %}</h1>
		{% if payment_method == "transfer" %}
			{% blocktrans %}
			<p>Gelieve <strong>€ {{ total_price }}</strong> over te schrijven op <br>
			<strong>BE23 7330 2625 4391</strong><br>
			met vermelding van <strong>"LENTE"</strong> en uw <strong>naam</strong>.</p>
			{% endblocktrans %}
		{% endif %}
		<p>{% trans "Uw bestelde kaarten zullen klaarliggen op naam aan de kassa." %}</p>
		<p>{% trans "U ontvangt zometeen een e-mail met nog eens alle informatie van uw bestelling. Indien u de mail niet in uw inbox tevoorschijn ziet komen, kijk dan eens in uw spamfolder." %}</p><br> 
		<p><a href="{% url 'ticketing:start_order_lente' %}">{% trans "Bestel meer tickets!" %}</a></p>
		<p><a href="{% url 'ticketing:snow_landing' %}">{% trans "Terug naar het begin" %}</a></p>
	</form>
</div>
{% endblock content %}
