{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Wijzig gebruikersinfo" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Wijzig je gebruikersinfo" %}</h1>
	<p>{%trans "Je huidige gebruikersinfo is automatisch ingevuld. Verander naar wens en dien in." %}</p>
		<form role='form' method='post' enctype="multipart/form-data" action="{% url 'edit' %}">
			{% csrf_token %}
			<div class="form-group">
				<span class="error">
					{% for error in form.first_name.errors %}
						{{ error }}<br>
					{% endfor %}
				</span>
			{% for hidden in form.hidden_fields %}
    			{{ hidden }}
			{% endfor %}
				<label for="{{ form.first_name.id_for_label }}">{% trans "Je voornaam" %}</label>
				<input type="text" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Barack' %}" value="{{ form.first_name.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in form.last_name.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ form.last_name.id_for_label }}">{% trans "Je achternaam" %}</label>
				<input type="text" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Obama' %}" value="{{ form.last_name.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in profileform.avatar.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ profileform.avatar.id_for_label }}">{% trans "Je foto (niet verplicht) (max. 100kb grootte)" %}</label>
				<div><img src="{{request.user.userprofile.avatar.url}}"></div>
				<br>
				<div>
					{{profileform.avatar}}
				</div>
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in form.study.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ form.study.id_for_label }}">{% trans "Je studierichting" %}</label>
				<input type="text" name="{{ form.study.html_name }}" id="{{ form.study.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Scientology' %}" value="{{ form.study.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in bdform.date_of_event.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{bdform.date_of_event.id_for_label }}">{% trans "Je geboortedatum" %}</label>
					<div class="date"> 
 						{{bdform.date_of_event}}
					</div>
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in form.phone_number.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ form.phone_number.id_for_label }}">{% trans "Je GSM nummer" %}</label>
				<input type="text" name="{{ form.phone_number.html_name }}" id="{{ form.phone_number.id_for_label }}" class="form-control" placeholder="{% trans 'bv. 0469696969' %}" value="{{ form.phone_number.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in form.email.errors %}
						{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ form.email.id_for_label }}">{% trans "Je e-mailadres" %}</label>
				<input type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="{% trans 'bv. yesmrpresident@whitehouse.com' %}" value="{{ form.email.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in profileform.groups.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ profileform.groups.id_for_label }}">{% trans "Je groep(en)" %}</label>
				<div style="overflow: auto; width : 300px; height : 150px; " id="checkbox">
					{% for g in profileform.groups %}
						<li id="checkboxselectmultiple"><small>{{ g }}</small></li>
					{% endfor %}
				</div>
			</div>

			<hr>

			<div class="form-group">
				<span class="error">
					{% for error in form.password2.errors %}
						<br>{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ form.password2.id_for_label }}">{% trans "Je huidige wachtwoord ter bevestiging" %}</label>
				<input type="password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" class="form-control" placeholder="{% trans 'bv. ikbenstiekemeenpeer' %}" value="{{ form.password2.value|default_if_none:'' }}" data-toggle="password">
			</div>


		    <input type="submit" value="{% trans 'Pas aan' %}" class="btn btn-danger">

		</form>
</div>

{% endblock content %}