{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Password reset" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}
<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

	<h1>{% trans "Reset wachtwoord" %}</h1>

	<p>{%trans 'Geef het e-mailadres in van je account. Nadat je je e-mailadres hebt ingegeven sturen we je een mail om je wachtwoord te veranderen.' %}</p>

	<form action="" method="post">
		{% csrf_token %}

		<div class="form-group">
			<span class="error">
				{% for error in form.email.errors %}
						{{ error }}<br>
				{% endfor %}
			</span>
			<label for="{{ form.email.id_for_label }}">{% trans "Je e-mail" %}</label>
			<input type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="{% trans 'Your email' %}" value="{{ form.email.value|default_if_none:'' }}">
		</div>

		<input type="submit" value="{% trans 'Reset wachtwoord' %}" class="btn btn-danger">

	</form>
</div>
{% endblock %}