{% extends "email_base.html" %}
{% load i18n %}

{% block content %}
		
		<p>{% blocktrans %}Beste,{% endblocktrans %}</p>
		<div id="content">
			{% blocktrans %}
			<p>Je krijgt deze mail omdat je een wachtwoord verandering hebt aangevraagd voor je account op arenbergorkest.be. <b>Antwoord niet op deze mail.</b></p>
			<p><b>Indien je de verandering niet hebt aangevraagd, negeer deze mail dan. En indien je in de toekomst een mail zoals deze krijgt die niet van noreply@arenbergorkest.be komt, maar er wel op lijkt, gelieve dan niet op de link te klikken.</b></p>
			{% endblocktrans %}
		</div>
		<a href="{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}"> Klik hier om je wachtwoord te veranderen!</a>
		<br>
		{% blocktrans %}
		<p>Blij om je van dienst te zijn,</p>
		<p>Het Arenbergorkest Webteam</p>
		{% endblocktrans %} 

{% endblock content %}