{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Verander wachtwoord" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}
    {% if validlink %}
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h1>{% trans "Nieuw wachtwoord" %}</h1>
            <form action="" method="post">

                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">{% trans "Je nieuwe wachtwoord" %}</label>
                    <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="{% trans 'bv. H@rdstyleWillN3verDie' %}" value="{{ form.new_password1.value|default_if_none:'' }}" data-toggle="password">
                </div>

                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">{% trans "Je nieuwe wachtwoord nog een keer voor de zekerheid" %}</label>
                    <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="{% trans 'bv. H@rdstyleWillN3verDie' %}" value="{{ form.new_password2.value|default_if_none:'' }}" data-toggle="password">
                </div>

                <input type="submit" value="{% trans 'Verander wachtwoord' %}" class="btn btn-danger">

            </form>
        </div>
    {% else %}
        <div class="text-center" id="ciao-msg">
            <h1><span class="glyphicon glyphicon-remove"></span></h1>
            <h3>{%trans 'De link om je wachtwoord te veranderen is niet meer geldig: te oud of al gebruikt. Probeer nog een keer.' %}</h3>
        </div>
    {% endif %}
{% endblock %}