{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Stel wachtwoord in" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Stel een nieuw wachtwoord in" %}</h1>
	<form role='form' method="post" action="{% url 'change_password' %}">
		{% csrf_token %}
		<div class="form-group">
			<span class="error">
				{% for error in form.new_password1.errors %}
						{{ error }}<br>
				{% endfor %}
			</span>
			<label for="{{ form.new_password1.id_for_label }}">{% trans "Nieuw wachtwoord" %}</label>
			<input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="{% trans 'Volzinnen zijn de veiligste wachtwoorden. (zie www.xkcd.com/936)' %}" value="{{ form.new_password1.value|default_if_none:'' }}" data-toggle="password">
		</div>
		<div class="form-group">
			<span class="error">
				{% for error in form.new_password2.errors %}
						{{ error }}<br>
				{% endfor %}
			</span>
			<label for="{{ form.new_password2.id_for_label }}">{% trans "Nog eens je nieuwe wachtwoord" %}</label>
			<input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="{% trans 'Volzinnen zijn de veiligste wachtwoorden. (zie www.xkcd.com/936)' %}" value="{{ form.new_password2.value|default_if_none:'' }}" data-toggle="password">
		</div>
		<hr>
		<div class="form-group">
			<span class="error">
				{% for error in form.old_password.errors %}
						{{ error }}<br>
				{% endfor %}
			</span>
			<label for="{{ form.old_password.id_for_label }}">{% trans "Je oude wachtwoord" %}</label>
			<input type="password" name="{{ form.old_password.html_name }}" id="{{ form.old_password.id_for_label }}" class="form-control" placeholder="{% trans 'Volzinnen zijn de veiligste wachtwoorden. (zie www.xkcd.com/936)' %}" value="{{ form.old_password.value|default_if_none:'' }}" data-toggle="password">
		</div>
		<input type="submit" value="{% trans 'Stel wachtwoord in' %}" class="btn btn-danger">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
</div>

{% endblock content %}
