{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Registratie" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Registratie voor nieuwe muzikanten" %}</h1>
		<form role='form' method='post' enctype="multipart/form-data" action="{% url 'register' %}">
			{% csrf_token %}

			<div class="form-group">
				<span class="error">
					{% for error in userform.first_name.errors %}
						{{ error }}<br>
					{% endfor %}
				</span>
			{% for hidden in form.hidden_fields %}
    			{{ hidden }}
			{% endfor %}
				<label for="{{ useredit.first_name.id_for_label }}">{% trans "Je voornaam" %}</label>
				<input type="text" name="{{ userform.first_name.html_name }}" id="{{ userform.first_name.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Ana' %}" value="{{ userform.first_name.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.last_name.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ useredit.last_name.id_for_label }}">{% trans "Je achternaam" %}</label>
				<input type="text" name="{{ userform.last_name.html_name }}" id="{{ userform.last_name.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Banana' %}" value="{{ userform.last_name.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userprofileform.avatar.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userprofileform.avatar.id_for_label }}">{% trans "Je foto (niet verplicht) (max. 50x50 pixels, 20kb grootte)" %}</label>
				<div><p>{%trans "Standaard:" %}</p></div>
				<div><img src="../../media/media/defaultavatar.png"></div>
				<br>
				<div>
					{{userprofileform.avatar}}
				</div>
			</div>

			<input type="file" class="filestyle" data-icon="false">

			<div class="form-group">
				<span class="error">
					{% for error in userform.birthdate.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.birthdate.id_for_label }}">{% trans "Je geboortedatum" %}</label>
					<div class="date"> <!-- for putting it on the next line -->
						{{userform.birthdate}}
					</div>
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.study.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.study.id_for_label }}">{% trans "Je studierichting" %}</label>
				<input type="text" name="{{ userform.study.html_name }}" id="{{ userform.study.id_for_label }}" class="form-control" placeholder="{% trans 'bv. Fruitologie' %}" value="{{ userform.study.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.phone_number.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.phone_number.id_for_label }}">{% trans "Je gsm nummer (aan elkaar geschreven)" %}</label>
				<input type="text" name="{{ userform.phone_number.html_name }}" id="{{ userform.phone_number.id_for_label }}" class="form-control" placeholder="{% trans 'bv. 0469696969' %}" value="{{ userform.phone_number.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.email.errors %}
						{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.email.id_for_label }}">{% trans "Je e-mailadres" %}</label>
				<input type="text" name="{{ userform.email.html_name }}" id="{{ userform.email.id_for_label }}" class="form-control" placeholder="{% trans 'bv. anabanana@fruit.org' %}" value="{{ userform.email.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.email2.errors %}
						{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.email2.id_for_label }}">{% trans "Je e-mailadres opnieuw" %}</label>
				<input type="text" name="{{ userform.email2.html_name }}" id="{{ userform.email2.id_for_label }}" class="form-control" placeholder="{% trans 'bv. anabanana@fruit.org' %}" value="{{ userform.email2.value|default_if_none:'' }}">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.password1.errors %}
						<br>{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.password1.id_for_label }}">{% trans "Je wachtwoord" %}</label>
				<input type="password" name="{{ userform.password1.html_name }}" id="{{ userform.password1.id_for_label }}" class="form-control" placeholder="{% trans 'bv. ikbenstiekemeenpeer' %}" value="{{ userform.password1.value|default_if_none:'' }}" data-toggle="password">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userform.password2.errors %}
						<br>{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userform.password2.id_for_label }}">{% trans "Je wachtwoord opnieuw" %}</label>
				<input type="password" name="{{ userform.password2.html_name }}" id="{{ userform.password2.id_for_label }}" class="form-control" placeholder="{% trans 'bv. ikbenstiekemeenpeer' %}" value="{{ userform.password2.value|default_if_none:'' }}" data-toggle="password">
			</div>

			<div class="form-group">
				<span class="error">
					{% for error in userprofileform.groups.errors %}
							{{ error }}<br>
					{% endfor %}
				</span>
				<label for="{{ userprofileform.groups.id_for_label }}">{% trans "Je groep(en)" %}</label>
				<div style="overflow: auto; width : 300px; height : 150px; " id="checkbox">
					{% for g in userprofileform.groups %}
						<li id="checkboxselectmultiple"><small>{{ g }}</small></li>
					{% endfor %}
				</div>
			</div>

		    <input type="submit" value="{% trans 'Registreren' %}" class="btn btn-danger">

		</form>
</div>

{% endblock content %}
