{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Register" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Register" %}</h1>
		<form method='post' action=''>{% csrf_token %}
		    {% if form.errors %}
		    <p class="error">{% trans "Incorrect registration." %}</p>
		    {% endif %}
		    {{userform}}
		    <br>
		    {{userprofileform}}
		    <input type="submit">
		</form>
</div>

{% endblock content %}
