{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
{% endblock custom_css_js %}
{% block title %}{% trans "Geregistreerd" %}{% endblock title %}
{% block content %}
	<div class="text-center" id="ciao-msg">
		<h1><span class="glyphicon glyphicon-floppy-saved"></span></h1>
		<h3>{% trans "Je hebt je succesvol geregistreerd. Je kan nu inloggen." %}</h3>
		<h3>{% trans "De content voor muzikanten kan je bekijken zodra je account goedgekeurd is door de beheerder." %}</h3>
	</div>
{% endblock content %}
