{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Bedankt" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'ticketing/space/style.css' %}">
<link rel="stylesheet" href="{% static 'ticketing/space/style-landscape-tablet-and-larger.css' %}" media="(min-width: 992px)">
{% endblock custom_css_js %}
{% block content %}
<div class="container">
	<form>
		<h1>{% trans "Je bent succesvol geregistreerd. Nu kan je inloggen." %}</h1>
<!-- 		<p>{% trans "Je ontvangt direct een bevestigingsmail." %}</p><br>	 -->
	</form>
</div>
{% endblock content %}
