h1 {
	margin-top: 40px;
	margin-bottom: 30px;
}

.hideandseek {
	display:none;
}

.error {
	color: #E60;
}

#ciao-msg {
	margin-top: 140px;
}
#ciao-msg h1 {
	margin-bottom: 12px;
}
#ciao-msg h3 {
	margin-top: 0;
	font-size: 14px;
}

#toofattable  {
	margin-left:5%;
	margin-right:5%;
	width:90%;
}

form {
	margin-top: 40px;
}

table {
	margin-top: 40px;
}

td {
	height: 60px;
}

.sheet-music {
	color: gray;
}

.btn {
	margin-bottom: 20px;
	margin-top: 10px;
}

#id_userprofile-groups {
    list-style-type: none;
    margin-left: -40px;
}

#rep {
	margin-left:20%;
	float:left; 
	width:30%;
}

#act {
	float:left; 
	width:30%;
	margin-right: 20%;
}

/*kalender*/

#calendarbutton {
	float:left;
	padding-right:20px;
}

#calendaraddbutton {
	float:right;
	padding-left:20px;	
}
#calendarlistbutton {
	float:right;
	padding-left:20px;	
}

#calendar table {
    width: 100%;
    table-layout:fixed
}

#calendar table tr th {
    text-align: center;
    font-size: 16px;
    color: #111;
}

#calendar table td {
	height:100%;
}

#calendar .month {
	font-size: 40px;
	padding-bottom: 15px;
	font-family: sans-serif;
	font-weight: normal;
}

#calendar .mon {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 18px;
}

#calendar .tue {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;
}

#calendar .wed {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;

}

#calendar .thu {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;
}


#calendar .fri {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;
}

#calendar .sat {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;
}

#calendar .sun {
    font-family: sans-serif;
   	font-weight: normal;
 	font-size: 18px;
}

#calendar table tr td {
    width: 10%;
    border: 1px solid #adadad;
    vertical-align: top;
    height: 120px;
    padding: 2px;
}

#calendar td.noday {
    background-color: #f6f6f6;
}

#calendar td.filled {
/*    background-color: #99ccff;*/
}

#calendar td.today {
    border: 3px solid #d86762;
	background-color: #ffffff;
	color:#d86762;
}

#calendar .dayNumber {
    font-size: 14px !important;
}

#calendar a {
	text-decoration: none;
	color:#ffffff;
	display: :block;
	text-align: center !important;
 }

#calendarfield1 {
	font-size:14px !important;
	color:#ffffff;
	background-color: #d86762; 
	-moz-border-radius: 6px; 
	border-radius: 6px; /* standards-compliant: (IE) */ 
	text-align: center;
	margin-bottom: :3px;
	margin-top: 3px;
}

#calendarfield5 {
	font-size:14px !important;
	color:#ffffff;
	background-color: #d86762; 
	-moz-border-radius: 6px; 
	border-radius: 6px; /* standards-compliant: (IE) */ 
	text-align: center;
	margin-bottom: :3px;
	margin-top: 3px;
}

#calendarfield2 {
	font-size:14px !important;
	color:#ffffff;
	background-color: #FF8600; 
	-moz-border-radius: 6px; 
	border-radius: 6px; /* standards-compliant: (IE) */ 
	text-align: center;
	margin-bottom: :3px;
	margin-top: 3px;
}

#calendarfield3 {
	font-size:14px !important;
	color:#ffffff;
	background-color: #79973F; 
	-moz-border-radius: 6px; 
	border-radius: 6px; /* standards-compliant: (IE) */ 
	text-align: center;
	margin-bottom: :3px;
	margin-top: 3px;
}


#calendarfield4 {
	font-size:14px !important;
	color:#ffffff;
	background-color: #465E84; 
	-moz-border-radius: 6px; 
	border-radius: 6px; /* standards-compliant: (IE) */ 
	text-align: center;
	margin-bottom: :3px;
	margin-top: 3px;
}

