#btn-suggest {
	margin-top: 30px;
}

@media (min-width: 992px) {
	#btn-suggest {
		float: right;
	}
}

form {
	margin-top: 40px;
}

table {
	margin-top: 40px;
}

td {
	height: 60px;
}

.sheet-music {
	color: gray;
}

input[type="submit"] {
	margin: 2em 0;
}