{% load i18n %}
{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Arenbergorkest{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900'>
        <link rel="stylesheet" type='text/css' href="{% static 'site-wide/style.css' %}">
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-48895856-2', 'auto'); ga('send', 'pageview');
        </script>
        {% block custom_css_js %}{% endblock custom_css_js %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="pull-left"><img height = "50" src="{% static "images/logo.png" %}"></a>
                <div class="navbar-header"><a class="navbar-brand"><b>{%trans 'Arenbergorkest' %}</b></a></div>
                <div>
                    <ul class="nav navbar-nav">

                        <li><a href="{% url 'wie' %}">{%trans "Over" %}</a></li>

                        <li><a href="{% url 'ticketing:snow_landing' %}">Home</a></li>

                        <li><a href="{% url 'ticketing:start_order_snow' %}">{%trans "Tickets The Snowman" %}</a></li>

                        <!-- <li><a href="{% url 'ticketing:start_order_lente' %}">{%trans "Lenteconcerten" %}</a></li> -->

                        <li><a href="{% url 'contact' %}">{%trans "Contact" %}</a></li>

                        {% comment %}
                        <li><a href="{% url 'sponsors' %}">{% trans "Sponsors" %}</a></li>
                        {% endcomment %}
                        {% if LANGUAGE_CODE == 'en' %}
                        <li><a href="{% url 'set_lang' lang='nl' %}">NL | <strong>EN</strong></a></li>
                        {% else %}
                        <li><a href="{% url 'set_lang' lang='en' %}"><strong>NL</strong> | EN</a></li>
                        {% endif %}

                        <li><a href="https://www.facebook.com/Arenbergorkest/" class="pull-left"><img height = "30" src="{% static "images/fb_small.png" %}"></a>

                        <li><a href="https://www.youtube.com/user/arenbergorkest" class="pull-left"><img height = "30" src="{% static "images/yt_small.png" %}"></a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                        {% if user.is_authenticated %}
                        {% if request.user.approved %}
                        <li><a href="{%url 'polls:browse_feature' %}">{% trans "Suggesties website" %}</a></li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">{% trans "Lenteconcerten" %}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'ticketing:my_tickets_dashboard' %}" title="{% trans 'Verkochte tickets' %}">{% trans "Mijn verkochte tickets" %}</a></li>
                                    <li><a href="{% url 'ticketing:promo_dashboard' %}">{% trans "Ticketverkoop" %}</a></li>
                                    <li><a href="{% url 'ticketing:posters' %}">{% trans "Posters" %}</a></li>
                                </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">{% trans "Orkest" %}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'calendarview' %}">{%trans "Kalender" %}</a></li>
                                    <li><a href="https://www.dropbox.com/sh/zbzfkiit0eyl77v/AAAJSX1O-5OCxcpQyfCY2VsVa?dl=0" target='_blank'>{% trans "Partituren" %}</a></li>
                                    <li><a href="{% url 'musicianlist' %}">{% trans "Lijst muzikanten" %}</a></li>   
                                    <li><a href="{% url 'polls:browse' %}">{% trans "Stel muziekstuk voor" %}</a></li>       
                                </ul>
                        </li>
                        {% endif %}                        
                        {% endif %}

                        {%if user.is_authenticated %}
                        <img src="{{request.user.userprofile.avatar.url}}"> 
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href=""><b>{{ request.user.first_name }} {{request.user.last_name}}</b><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'edit' %}">{% trans "Wijzig gebruikersinfo" %}</a></li>
                                    <li><a href="{% url 'change_password' %}">{% trans "Verander wachtwoord" %}</a></li>
                                    {% if request.user.approved %}
                                    <li><a href="{% url 'polls:new_semester_poll' %}">{% trans "Enquête je toekomst" %}</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'logout' %}">{% trans "Uitloggen" %}</a></li>
                                </ul>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">{% trans "Muzikant" %}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'login' %}">{% trans "Inloggen" %}</a></li>
                                    <li><a href="{% url 'register' %}">{% trans "Registreren" %}</a></li>
                                </ul>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        {% block content %}
        <!-- template inheriting from base.html will put its content between its block content and endblock content tags here-->
        {% endblock content %}

    </body>
</html>