{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Kalender" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Kalender" %}</h1>
		<body>
		<b>Do 11 feb</b> Repetitie
		<br><br>
		<b>Do 18 feb</b> Repetitie
		<br><br>
		<b>Do 25 feb</b> Repetitie
		<br><br>
		<b>Do 3 mar</b> Repetitie
		<br><br>
		<b>Do 10 mar</b> Repetitie
		<br><br>
		<b>Do 17 mar</b> Repetitie
		<br><br>
		<b>Do 24 mar</b> Repetitie
		<br><br>
		<b>Vr 8 – Zo 10 apr</b> Repetitieweekend (laatste weekend paasvakantie)
		<br><br>
		<b>Do 14 apr</b> Repetitie
		<br><br>
		<b>Do 21 apr</b> Repetitie
		<br><br>
		<b>Do 28 apr</b> Repetitie
		<br><br>
		<b>Zo 1 mei</b> Repetitiedag
		<br><br>
		<b>Wo 4 mei</b> Generale repetitie
		<br><br>
		<b>Do 5 mei</b> Concert I
		<br><br>
		<b>Zo 8 mei</b> Concert II
		</body>
</div>

{% endblock content %}
