{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Contact" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Contact" %}</h1>
	<body>
	<p>
	Wilt u het Arenbergorkest contacteren? Stuur dan een mail naar <a href="mailto:bestuur@arenbergorkest.be">bestuur@arenbergorkest.be</a>. We antwoorden met plezier op al uw vragen!
	</p>
	<p>
	Bent je muzikant en kan je niet komen volgende repetie? Stuur dan een mail naar <a href="mailto:afwezig@arenbergorkest.be">afwezig@arenbergorkest.be</a>. 
	</p>
	<p>
	Je kan ook altijd onze Facebookpagina liken of je abonneren op ons YouTube kanaal (met opnames van vroegere concerten): 
	</p>
	<br>
	<a href="https://www.facebook.com/Arenbergorkest/"><img align="left" alt="" src="{% static "images/facebook.png" %}"></a>
	<img align="left" src="{% static "images/dot.gif" %}" height=1 width=20>
	<a href="https://www.youtube.com/user/arenbergorkest"><img align="left" alt="" src="{% static "images/youtube.png" %}"></a>
	</body>
</div>

{% endblock content %}
