{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Links" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Nuttige links" %}</h1>
		<body>
		<a href="https://www.dropbox.com/sh/zbzfkiit0eyl77v/AAAJSX1O-5OCxcpQyfCY2VsVa?dl=0">{% trans "Dropbox met partituren" %}</a>
		<br><br>
		<a href="https://www.youtube.com/user/arenbergorkest">{% trans "Het officiële Arenbergorkest Youtube kanaal" %}</a>
		<br><br>
		<a href="https://docs.google.com/spreadsheets/d/1dgbjE_WvsUkrdU9eTVa2JIjJ4-9QscD4bdC6FRENlPo/edit?pli=1#gid=0">{% trans "Muzikantenlijst" %}</a>
		<br><br>
		<a href="https://docs.google.com/document/d/1FJysDJqM1JPBQrXJI3UH-FBAkPIkuZ_rObYg5StjzR8/edit?pli=1">{% trans "op zoek naar repetitielokalen?" %}</a>
		<br><br>
		<a href="http://us10.campaign-archive2.com/home/?u=2ca4cb5c77d2415aee6af6841&id=f49b839ba2">{% trans "Alle nieuwsbrieven" %}</a>
</div>


{% endblock content %}
