{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Partijen en muziek" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Partijen en muziek" %}</h1>
	<body>
		        <!-- List of uploaded documents -->
		        {% if documents %}
		                <ul>
		                {% for document in documents %}
		                        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}
		                        <img src="{{ document.docfile.url }}" alt="{{ document.docfile.name }}">
		                        </a></li>
		                {% endfor %}
		                </ul>
		        {% else %}
		                <p>No documents.</p>
		        {% endif %}

		        <!-- Upload form. Note enctype attribute! -->
		        <form action="{% url "music" %}" method="post" enctype="multipart/form-data">
		                {% csrf_token %}
		                <p>{{ form.non_field_errors }}</p>
		                <p>{{ form.docfile.label_tag }} </p>
		                <p>
		                        {{ form.docfile.errors }}
		                        {{ form.docfile }}
		                </p>
		                <p><input type="submit" value="Upload" /></p>
		        </form>

		</body>
</div>

{% endblock content %}
