{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{%trans 'Voorgestelde muziek' %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'musicianlist/style.css' %}"> <!-- for the same style as the browse suggested pieces -->
{% endblock custom_css_js %}
{% block content %}
<div class="toofattable">
	<div class="row">
		<div class="col-sm-8">
			<h1>Muzikanten</h1>
		</div>
		<div class="col-sm-4">
			<a class="btn btn-danger" href="https://docs.google.com/spreadsheets/d/1dgbjE_WvsUkrdU9eTVa2JIjJ4-9QscD4bdC6FRENlPo/edit?pli=1#gid=0" target='_blank' id="btn-suggest">{%trans 'Oude muzikantenlijst' %}</a>
		</div>
	</div>	
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>{%trans "Afbeelding" %}</th>

					{% if sortedattr == "first_name" %}
					{% if order == "reverse" %}
					<th>{%trans "Voornaam" %}  <a href="{%url 'musicianlist' voornaam %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "Voornaam" %}  <a href="{%url 'musicianlist' voornaam reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "Voornaam" %}  <a href="{%url 'musicianlist' voornaam %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "last_name" %}
					{% if order == "reverse" %}
					<th>{%trans "Achternaam" %}  <a href="{%url 'musicianlist' achternaam %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "Achternaam" %}  <a href="{%url 'musicianlist' achternaam reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "Achternaam" %}  <a href="{%url 'musicianlist' achternaam %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "datebirth" %}
					{% if order == "reverse" %}
					<th>{%trans "Geboortedatum" %}  <a href="{%url 'musicianlist' datum %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "Geboortedatum" %}  <a href="{%url 'musicianlist' datum reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "Geboortedatum" %}  <a href="{%url 'musicianlist' datum %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "study" %}
					{% if order == "reverse" %}
					<th>{%trans "Studierichting" %}  <a href="{%url 'musicianlist' studie %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "Studierichting" %}  <a href="{%url 'musicianlist' studie reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "Studierichting" %}  <a href="{%url 'musicianlist' studie %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "phone_number" %}
					{% if order == "reverse" %}
					<th>{%trans "GSM nummer" %}  <a href="{%url 'musicianlist' nummer %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "GSM nummer" %}  <a href="{%url 'musicianlist' nummer reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "GSM nummer" %}  <a href="{%url 'musicianlist' nummer %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "email" %}
					{% if order == "reverse" %}
					<th>{%trans "E-mail" %}  <a href="{%url 'musicianlist' mail %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "E-mail" %}  <a href="{%url 'musicianlist' mail reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "E-mail" %}  <a href="{%url 'musicianlist' mail %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}

					{% if sortedattr == "group" %}
					{% if order == "reverse" %}
					<th>{%trans "Groepen" %}  <a href="{%url 'musicianlist' groepen %}"><img src="{% static "images/sort_up.png" %}"></a></th>
					{% else %}
					<th>{%trans "Groepen" %}  <a href="{%url 'musicianlist' groepen reverse %}"><img src="{% static "images/sort_down.png" %}"></a></th>
					{% endif %}
					{% else %}
					<th>{%trans "Groepen" %}  <a href="{%url 'musicianlist' groepen %}"><img src="{% static "images/sort_both.svg" %}"></a></th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for m,p,b in musicians %}
				<tr>
					<td class="col-xs-1"><img src="{{p.avatar.url}}"></td>
					<td class="col-xs-1">{{ m.first_name }}</td>
					<td class="col-xs-1">{{ m.last_name }}</td>
					<td class="col-xs-1">{{ b.date_of_event }}</td>	
					<td class="col-xs-1">{{ m.study }}</td>	
					<td class="col-xs-1">{{ m.phone_number }}</td>	
					<td class="col-xs-1">{{ m.email }}</td>	
					<td class="col-xs-2">{{ p.groups_as_string }}</td>	
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}