{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Voorgestelde muziek{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'music_suggestions/style.css' %}"> <!-- for the same style as the browse suggested pieces -->
{% endblock custom_css_js %}
{% block content %}
<div class="toofattable">
	<div class="row">
		<div class="col-sm-8">
			<h1>Muzikanten</h1>
		</div>
		<div class="col-sm-4">
			<a class="btn btn-danger" href="https://docs.google.com/spreadsheets/d/1dgbjE_WvsUkrdU9eTVa2JIjJ4-9QscD4bdC6FRENlPo/edit?pli=1#gid=0" target='_blank' id="btn-suggest">Oude muzikantenlijst</a>
		</div>
	</div>	
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>{%trans "Afbeelding" %}</th>
					<th>{%trans "Voornaam" %}</th>
					<th>{%trans "Achternaam" %}</th>
					<th>{%trans "Geboortedatum" %}</th>
					<th>{%trans "Studierichting" %}</th>
					<th>{%trans "GSM nummer" %}</th>
					<th>{%trans "E-mail" %}</th>
					<th>{%trans "Groepen" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for m,p in musicians %}
				<tr>
					<td class="col-xs-1"><img src="{{p.avatar.url}}"></td>
					<td class="col-xs-1">{{ m.first_name }}</td>
					<td class="col-xs-1">{{ m.last_name }}</td>
					<td class="col-xs-1">{{ m.birthdate }}</td>	
					<td class="col-xs-1">{{ m.study }}</td>	
					<td class="col-xs-1">{{ m.phone_number }}</td>	
					<td class="col-xs-1">{{ m.email }}</td>	
					<td class="col-xs-2">{{ p.groups_as_string }}</td>	
				</tr>
				{% endfor %}	
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}