{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Lijst muzikanten" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'registration/style.css' %}">
<script src="{% static 'site-wide/bootstrap-show-password.min.js' %}"></script>
{% endblock custom_css_js %}
{% block content %}

<div id="toofattable" class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
	<h1>{% trans "Muzikanten" %}</h1>
		<table class="table">
			<thead>
				<tr>
					<th>{%trans "Voornaam" %}</th>
					<th>{%trans "Achternaam" %}</th>
					<th>{%trans "Geboortedatum" %}</th>
					<th>{%trans "Studierichting" %}</th>
					<th>{%trans "GSM nummer" %}</th>
					<th>{%trans "E-mail" %}</th>
					<th>{%trans "Groepen" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for m,p in musicians %}
				<tr>
					<td class="col-xs-1"><img src="{{p.avatar}}"></td>
					<td class="col-xs-1">{{ m.last_name }}</td>
					<td class="col-xs-1">{{ m.birthdate }}</td>	
					<td class="col-xs-1">{{ m.study }}</td>	
					<td class="col-xs-1">{{ m.phone_number }}</td>	
					<td class="col-xs-1">{{ m.email }}</td>	
					<td class="col-xs-2">{{ p.groups_as_string }}</td>	
				</tr>
				{% endfor %}	
			</tbody>
		</table>
</div>

{% endblock content %}