{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Snowman Concerten Arenbergorkest" %}{% endblock title %}
{% block custom_css_js %}
<link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'ticketing/snowman2016/style.css' %}">
<link rel="stylesheet" href="{% static 'ticketing/snowman2016/landing-page-style.css' %}" media="(min-width: 992px)">
<link rel="stylesheet" href="{% static 'ticketing/snowman2016/style-landscape-tablet-and-larger.css' %}" media="(min-width: 992px)">
{% endblock custom_css_js %}
{% block content %}
<div id="header">
	<div class="container">
		<h2 id="title-arenbergorkest" class="caps">{% trans "Arenbergorkest" %}</h2>
		<h2 id="title-conductor" class="caps">{% trans "OLV Roel Willems" %}</h2>
		<h1 id="title-space" class="caps">{% trans "SNOWMAN" %}</h1>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h3 id="tagline", class="caps">Symphony orchestra<br>
						<span class="handwritten">plays music of</span><br>
						<span id="tagline-third-line">chilling intensity</span></h3>
						{% comment %}
						<p>{% trans "Je kan vanavond nog kaarten aan de kassa kopen." %}</p><br>{% endcomment %}
					<p><a href="{% url 'ticketing:start_order_snow' %}" class="btn btn-success order-btn">{% trans "Bestel tickets" %}</a></p>
					<div id="more-info-reference"><em>{% trans "Do 7 &amp; Vr 8 mei" %}</em><br>
						{% trans "17:00 @ Aula Pieter De Somer, Leuven" %}<br>
						<br>
						<em>{% trans "Za 9 mei" %}</em><br>
						{% trans "18u30 @ Aula Pieter De Somer, Leuven" %}<br>
						{% comment %}<a href="#">Meer info<br>
						<span class="glyphicon glyphicon-chevron-down"></span>{% endcomment %}</a></div>
				</div>
			</div>
		</div>
	</footer>	
</div>
{% endblock content %}
