{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{%trans "Voorgestelde muziek" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'music_suggestions/style.css' %}">
{% endblock custom_css_js %}
{% block content %}
<div class="toofattable">
	<div class="row">
		<div class="col-sm-8">
			<h1>{%trans "Voorgestelde muziek" %}</h1>
		</div>
		<div class="col-sm-4">
			<a class="btn btn-danger" href="{% url 'polls:suggest' %}" id="btn-suggest">{%trans "Stel een muziekstuk voor" %}</a>
		</div>
	</div>	
	<div class="row">
		<table class="table">
		    <colgroup>
		       <col span="1" style="width: 35%;">
		       <col span="1" style="width: 15%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 20%;">
		       <col span="1" style="width: 10%;">
		    </colgroup>
			<thead>
				<tr>
					<th>{%trans "Titel" %}</th>
					<th>{%trans 'Link naar opname' %}</th>
					<th>{%trans 'Voorgesteld door' %}</th>
					<th>{%trans 'Partituren' %}</th>
					<th>{%trans 'Ik hou hiervan!' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for piece,like,liked in suggested_pieces %}
				<tr>
					<td><strong>{{ piece.title }}</strong></td>
					<td><a href="{{ piece.link_to_recording }}">Luister</a></td>
					<td class="col-xs-1">{{ piece.suggested_by_string }}</td>
					<td class="col-xs-1 sheet-music">{{ piece.sheet_music }}</td>
					{% if liked %}
					<td style="font-size:20px;" class="col-xs-1"><a href="{%url 'polls:browse' piece.title %}">{{like}} <span class="glyphicon glyphicon-heart"></a></td>
					{% else %}
					<td style="font-size:20px;" class="col-xs-1"><a href="{%url 'polls:browse' piece.title %}">{{like}} <span class="glyphicon glyphicon-heart-empty"></a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}