{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Nieuw semester" %}{% endblock title %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{% endblock custom_css %}
{% block content %}
	<div class="col-sm-12">
		<div class="row">	
			<div class="col-sm-offset-3 col-sm-6"  id="header">
				<h1>{% trans "Nieuw semester" %}</h1>
				{% if LANGUAGE_CODE == 'en' %}
					<em><a href="{% url 'set_lang' lang='nl' %}">(Nederlands)</a></em>
				{% else %}
					<em><a href="{% url 'set_lang' lang='en' %}">(In English)</a></em>
				{% endif %}
			</div>
		</div>
		<div class="row">
			{% crispy form %}
		</div>
	</div>
{% endblock content %}