{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{%trans "Stel een muziekstuk voor" %}{% endblock title %}
{% block custom_css_js %}
<link rel="stylesheet" href="{% static 'music_suggestions/style.css' %}">
{% endblock custom_css_js %}
{% block content %}
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
				<h1>{%trans "Stel een muziekstuk voor" %}</h1>
			</div>
		</div>
		<div class="row">
			{% crispy form %}
		</div>
	</div>
{% endblock content %}