{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Ticketverkoop" %}{% endblock title %}
{% block custom_css_js %}
<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
<style type="text/css">
    .header {
		margin-bottom: 65px;
    }
    .header .title {
        letter-spacing: 0.00em;
        word-spacing: 0.25em;
        line-height: 1.8em;
    }
    #explanation {
        letter-spacing: 0.00em;
        word-spacing: 0.00em;
        line-height: 0.0em;
        margin-bottom: -20px;
    }
    .header h1 {
        font-size: 60px;
        letter-spacing: 0.05em;
        font-weight: bolder;
        margin-bottom: 10px;
    }
    .header h2 {
        font-size: 30px;
        margin-top: 0;
        margin-right: 5px;
        float: left;
    }
    .header [data-toggle="tooltip"] {
        font-size: 12px;
        color: black;
        display: block;
        float: left;
    }
	.large-number {
		font-size: 72px;
		font-weight: bolder;
		line-height: 0.8em;
	}
	.medium-number {
		font-size: 60px;
		font-weight: bolder;
		line-height: 0.8em;
	}
	.chart {
		margin-top: 10px;
		max-width: 600px;
	}
	p .figures {
		font-size: 120%;
	}
	p {
		margin: 2em 0;
	}
	.low {
		font-size: 100%;
		margin-top: 7em;
	}
	a.btn {
		margin-top: 1.6em;
		margin-bottom: 0;
	}
	#text {
		margin-top: -25px;
	}
	a[data-toggle="tooltip"] {
		font-size: 12px;
		color: black;
	}
	#top-sellers ol {
	    margin: 60px 0 60px -30px;
	    width: 300px;
	    font-size: 15px;
	}
	#top-sellers li {
	    margin-bottom: 20px;
	    color: #BBB;
	}
	#top-sellers .name {
	    color: #000;
	}
	#top-sellers .num-tickets {
	    color: #000;
	    float: right;
	    font-weight: bolder;
	    font-size: 20px;
	    position: relative;
	    bottom: 6px;
	}
	.column {
		margin-bottom: 50px;
    }
    #pill > .active > a:focus, #pill > .active > a {
        background-color: #d86762;
	}

</style>
{% endblock custom_css_js %}
{% block content %}

<div class="col-sm-9 col-sm-offset-3 header">
    <div class="title">
    	<h1>{% trans "Ticketverkoop" %}</h1>
        <p id="explanation">{% trans 'Het aantal verkochte kaarten is telkens het aantal kaarten dat via de website is besteld, plus het aantal verkochte papieren kaarten die door de muzikanten online zijn geregistreerd.' %}</p>
    </div>

</div>

<div class="col-sm-3 text-center column">
    <p class="figures">
        {% trans "Donderdag" %}<br>
        <span class="large-number">{{num_do}}</span>
    </p>
    <p class="figures">
        {% trans "Zondag" %}<br>
        <span class="large-number">{{num_zo}}</span>
    </p>
</div>

<div class="col-sm-6 column">

	<div role="tabpanel" id="tabs">
		<!-- Nav tabs -->
		<ul id="pill" class="nav nav-pills" role="tablist">
			<li role="presentation" class="active"><a href="#tab-thu" role="tab" data-toggle="pill">{% trans "Donderdag" %}</a></li>
			<li role="presentation" class="unselected"><a href="#tab-fri" role="tab" data-toggle="pill">{% trans "Zondag" %}</a></li>
			<li role="presentation" class="unselected"><a href="#tab-total" role="tab" data-toggle="pill">{% trans "Beide" %}</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="tab-thu"><div class="chart" id="chart-thu"></div></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-fri"><div class="chart" id="chart-fri"></div></div>
			<div role="tabpanel" class="tab-pane fade" id="tab-total"><div class="chart" id="chart-total"></div></div>

		</div>
	</div>
</div>


<div class="col-sm-3 column" id="top-sellers">
    <ol>
    {% for entry in user_totals %}
    	<li><span class="name">{{ entry.user }}</span> <span class="num-tickets">{{ entry.num_tickets }}</span></li>
    {% endfor %}
    </ol>
</div>
    
<div class="col-sm-9 col-sm-offset-3">
	{% url 'space_ticketing:space_landing' as order_online %}
	{% blocktrans %}
	<p id="text">Wil je die tellers mee omhooghelpen? <br>Verkoop onze concerten dan aan vrienden, familie en vage kenissen, en laat hen ...</p>
    <ul>
    	<li>.. ofwel online tickets bestellen;</li>
    	<li>.. ofwel papieren tickets van jou kopen.</li>
    </ul>
	<p>Of gebruik een van onze omslag- of profielfoto's op Facebook voor pubiciteit!<br>
	{% endblocktrans %}
	<a href="{% url 'ticketing:facebook_pictures' %}" class="btn btn-danger" role="button">{% trans "Download omslag- en profielfoto's voor Facebook" %}</a><br>
	</p>
</div>

    
<script type="text/javascript">
$(function () {
	$('[data-toggle="tooltip"]').tooltip();

    $('#chart-total').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Verkochte kaarten'
        },
        subtitle: {
            text: 'Voor donderdag en vrijdag samen'
        },
        credits: {
            enabled: false
        },
        xAxis: {
        	type: 'datetime',
        	min: Date.UTC(2015, 3, 16, 12, 00), // 3 == 4th month == apr (0-based indexing only for months)
        	max: Date.UTC(2015, 4, 10, 12, 00),
            plotLines: [
                { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 7, 19, 30), width: 1},
                { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 8, 19, 30), width: 1} 
            ]
        },
        yAxis: {
            title: {
                text: null,
            },
            min: 0,
            max: 1600,
            endOnTick: false,
            tickInterval: 200,
            plotLines: [
                // { color: 'green', dashStyle: 'longdashdot', value: 791, width: 2}, // fiesta
                { color: 'blue', dashStyle: 'longdashdot', value: 1500, width: 2}  // 2x volboekt
                // { color: 'blue', dashStyle: 'longdashdot', value: 750, width: 2}  // 100% zaalbezetting
            ]
        },
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        series: [{
        	showInLegend: false,
        	name: '# verkochte kaarten',
            lineWidth: 5,
        	data: [
        		{% for entry in total_graph %}
        			[{{ entry.timestamp }}, {{ entry.total_tickets }}], //{{entry.order}}
        		{% endfor %}
        	]
        }]
    });
    $('#chart-thu').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Verkochte kaarten'
        },
        subtitle: {
            text: 'Voor donderdag'
        },
        credits: {
            enabled: false
        },
        xAxis: {
        	type: 'datetime',
        	min: Date.UTC(2015, 3, 16, 12, 00), // 3 == 4th month == apr (0-based indexing only for months)
        	max: Date.UTC(2015, 4, 10, 12, 00),
            plotLines: [
                { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 7, 19, 30), width: 1},
                // { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 8, 19, 30), width: 1} 
            ]
        },
        yAxis: {
            title: {
                text: null,
            },
            min: 0,
            max: 750,
            tickInterval: 100,
            plotLines: [
                // { color: 'green', dashStyle: 'longdashdot', value: 791, width: 2}, // fiesta
                // { color: 'blue', dashStyle: 'longdashdot', value: 1500, width: 2}  // 2x volboekt
                { color: 'blue', dashStyle: 'longdashdot', value: 750, width: 2}  // 100% zaalbezetting
            ]
        },
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        series: [{
        	showInLegend: false,
        	name: '# verkochte kaarten',
            lineWidth: 5,
        	data: [
        		{% for entry in thu_graph %}
        			[{{ entry.timestamp }}, {{ entry.total_tickets }}], //{{entry.order}}
        		{% endfor %}
        	]
        }]
    });
    $('#chart-fri').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Verkochte kaarten'
        },
        subtitle: {
            text: 'Voor vrijdag'
        },
        credits: {
            enabled: false
        },
        xAxis: {
        	type: 'datetime',
        	min: Date.UTC(2015, 3, 16, 12, 00), // 3 == 4th month == apr (0-based indexing only for months)
        	max: Date.UTC(2015, 4, 10, 12, 00),
            plotLines: [
                // { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 7, 19, 30), width: 1},
                { color: 'black', dashStyle: 'solid', value: Date.UTC(2015, 4, 8, 19, 30), width: 1} 
            ]
        },
        yAxis: {
            title: {
                text: null,
            },
            min: 0,
            max: 750,
            tickInterval: 100,
            plotLines: [
                // { color: 'green', dashStyle: 'longdashdot', value: 791, width: 2}, // fiesta
                // { color: 'blue', dashStyle: 'longdashdot', value: 1500, width: 2}  // 2x volboekt
                { color: 'blue', dashStyle: 'longdashdot', value: 750, width: 2}  // 100% zaalbezetting
            ]
        },
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                }
            }
        },
        series: [{
        	showInLegend: false,
        	name: '# verkochte kaarten',
            lineWidth: 5,
        	data: [
        		{% for entry in fri_graph %}
        			[{{ entry.timestamp }}, {{ entry.total_tickets }}], //{{entry.order}}
        		{% endfor %}
        	]
        }]
    });
});
</script>

{% endblock content %}