#title-arenbergorkest {
	font-size: 20px;
}
#title-conductor {
	font-size: 10px;
}
#title-space {
	font-size: 72px;
}
.footer {
	height: 50px;
}
body {
  margin-bottom: 50px;
}
#tagline {
	font-size: 14px;
}
#tagline .handwritten {
	font-size: 16px;
}
#music-names {
	font-size: 10px;
	letter-spacing: 0.5em;
	margin-right: -0.5em;
}
.order-btn {
	font-size: 16px;
}
.footer .order-btn {
	margin-bottom: 0.5em;
}
#more-info-reference {
	margin-bottom: 1em;
	/* -- Temp -- */
	font-size: 13px;
	/* -- Temp -- */
}
/* -- Temp -- */
#more-info-reference em {
	font-size: 18px;
}
/* -- Temp -- */